<a href="https://colab.research.google.com/github/Yogesh6662/Prediction-and-Analysis-of-Airline-Data-AWS-Hadoop-Hive-./blob/main/Data_Cleaning_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
df = pd.read_csv('/2006new.csv')
df.head(10)
# summary = df.describe()
# print(summary)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0
5,2006,1,11,3,627.0,630,834.0,832,US,295,...,6,13,0,NaN,0,0,0,0,0,0
6,2006,1,11,3,825.0,820,1041.0,1021,US,349,...,4,21,0,NaN,0,0,0,20,0,0
7,2006,1,11,3,942.0,945,1155.0,1148,US,356,...,4,8,0,NaN,0,0,0,0,0,0
8,2006,1,11,3,1239.0,1245,1438.0,1445,US,775,...,4,12,0,NaN,0,0,0,0,0,0
9,2006,1,11,3,1642.0,1645,1841.0,1845,US,1002,...,4,10,0,NaN,0,0,0,0,0,0

In [ ]:
from tabulate import tabulate

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7141922 entries, 0 to 7141921
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       int64
 25  WeatherDelay       int64
 26  NASDelay           int64
 27  SecurityDelay      int64
 28  LateAircraftDelay  int64
dtypes: float64(7), int64(17), object(5)
memory usage: 1.5+ GB

In [ ]:
# Check for null values in each column and sum them up
null_counts = df.isnull().sum()

# Display the count of null values for each column
print(null_counts)

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               121934
CRSDepTime                 0
ArrTime               138120
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
ActualElapsedTime     138120
CRSElapsedTime             4
AirTime               138120
ArrDelay              138120
DepDelay              121934
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     7019988
Diverted                   0
CarrierDelay               0
WeatherDelay               0
NASDelay                   0
SecurityDelay              0
LateAircraftDelay          0
dtype: int64

In [ ]:
df['DepTime'] = df['DepTime'].fillna(df['DepTime'].mean())
df['ArrTime'] = df['ArrTime'].fillna(df['ArrTime'].mean())
df['ActualElapsedTime'] = df['ActualElapsedTime'].fillna(df['ActualElapsedTime'].mean())
df['ArrDelay'] = df['ArrDelay'].fillna(df['ArrDelay'].mean())
df['DepDelay'] = df['DepDelay'].fillna(df['DepDelay'].mean())
df['Distance'] = df['Distance'].fillna(df['Distance'].mean())

In [ ]:
df['AirTime'] = df['AirTime'].fillna(df['AirTime'].mean())

In [ ]:
df['CRSElapsedTime'] = df['CRSElapsedTime'].fillna(df['CRSElapsedTime'].mean())

In [ ]:
df.drop('CancellationCode', axis=1, inplace=True)

In [ ]:
# Check for null values in each column and sum them up
null_counts = df.isnull().sum()

# Display the count of null values for each column
print(null_counts)

Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7141922 entries, 0 to 7141921
Data columns (total 28 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  Diverted           int64
 23  CarrierDelay       int64
 24  WeatherDelay       int64
 25  NASDelay           int64
 26  SecurityDelay      int64
 27  LateAircraftDelay  int64
dtypes: float64(7), int64(17), object(4)
memory usage: 1.5+ GB

In [ ]:
sample_size = 30000
random_sample = df.sample(n=sample_size, random_state=42)

In [ ]:

random_sample['Delayed'] = random_sample.apply(lambda row: 'N' if row['ArrDelay'] <= 0 and row['DepDelay'] <= 0 else 'Y', axis=1)

In [ ]:
first_few_rows = random_sample.head(5)
print(tabulate(first_few_rows, headers='keys', tablefmt='pretty'))

+---------+------+-------+------------+-----------+---------+------------+---------+------------+---------------+-----------+---------+-------------------+----------------+---------+----------+----------+--------+------+----------+--------+---------+-----------+------------------+----------+--------------+--------------+----------+---------------+-------------------+---------+
|         | Year | Month | DayofMonth | DayOfWeek | DepTime | CRSDepTime | ArrTime | CRSArrTime | UniqueCarrier | FlightNum | TailNum | ActualElapsedTime | CRSElapsedTime | AirTime | ArrDelay | DepDelay | Origin | Dest | Distance | TaxiIn | TaxiOut | Cancelled | CancellationCode | Diverted | CarrierDelay | WeatherDelay | NASDelay | SecurityDelay | LateAircraftDelay | Delayed |
+---------+------+-------+------------+-----------+---------+------------+---------+------------+---------------+-----------+---------+-------------------+----------------+---------+----------+----------+--------+------+----------+--------+---------+-----------+------------------+----------+--------------+--------------+----------+---------------+-------------------+---------+
| 4396017 | 2006 |   8   |     11     |     5     | 2234.0  |    2240    |  729.0  |    743     |      US       |    47     | N903AW  |       355.0       |      363       |  335.0  |  -14.0   |   -6.0   |  LIH   | PHX  |   2979   |   11   |    9    |     0     |       nan        |    0     |      0       |      0       |    0     |       0       |         0         |    N    |
| 4604454 | 2006 |   8   |     24     |     4     |  828.0  |    835     | 1005.0  |    1010    |      AA       |    421    | N449AA  |       157.0       |      155       |  127.0  |   -5.0   |   -7.0   |  LGA   | STL  |   887    |   4    |   26    |     0     |       nan        |    0     |      0       |      0       |    0     |       0       |         0         |    N    |
| 4831172 | 2006 |   9   |     28     |     4     | 2049.0  |    2055    | 2055.0  |    2105    |      WN       |   2301    |  N527   |       66.0        |       70       |  56.0   |  -10.0   |   -6.0   |  ELP   | PHX  |   347    |   3    |    7    |     0     |       nan        |    0     |      0       |      0       |    0     |       0       |         0         |    N    |
| 976596  | 2006 |   2   |     10     |     5     |  850.0  |    850     | 1000.0  |    1003    |      OH       |   5319    | N371CA  |       190.0       |      193       |  168.0  |   -3.0   |   0.0    |  CVG   | DEN  |   1069   |   10   |   12    |     0     |       nan        |    0     |      0       |      0       |    0     |       0       |         0         |    N    |
| 4054093 | 2006 |   7   |     23     |     7     |  909.0  |    910     | 1211.0  |    1155    |      B6       |    41     | N591JB  |       182.0       |      165       |  126.0  |   16.0   |   -1.0   |  JFK   | MCO  |   944    |   6    |   50    |     0     |       nan        |    0     |      0       |      0       |    16    |       0       |         0         |    Y    |
+---------+------+-------+------------+-----------+---------+------------+---------+------------+---------------+-----------+---------+-------------------+----------------+---------+----------+----------+--------+------+----------+--------+---------+-----------+------------------+----------+--------------+--------------+----------+---------------+-------------------+---------+

In [ ]:
# Check for null values in each column and sum them up
null_counts = random_sample.isnull().sum()

# Display the count of null values for each column
print(null_counts)

Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
Delayed              0
dtype: int64

In [ ]:
# Assuming 'df' is your original DataFrame
# Replace 'df' with 'random_sample' and fill NaN values with column means

random_sample['DepTime'] = random_sample['DepTime'].fillna(random_sample['DepTime'].mean())
random_sample['ArrTime'] = random_sample['ArrTime'].fillna(random_sample['ArrTime'].mean())
random_sample['ActualElapsedTime'] = random_sample['ActualElapsedTime'].fillna(random_sample['ActualElapsedTime'].mean())
random_sample['ArrDelay'] = random_sample['ArrDelay'].fillna(random_sample['ArrDelay'].mean())
random_sample['DepDelay'] = random_sample['DepDelay'].fillna(random_sample['DepDelay'].mean())
random_sample['Distance'] = random_sample['Distance'].fillna(random_sample['Distance'].mean())
random_sample['AirTime'] = random_sample['AirTime'].fillna(random_sample['AirTime'].mean())
random_sample['CRSElapsedTime'] = random_sample['CRSElapsedTime'].fillna(random_sample['CRSElapsedTime'].mean())
random_sample.drop('CancellationCode', axis=1, inplace=True)

In [ ]:
random_sample['TaxiOut'] = df['TaxiOut'].astype(int)
random_sample['TaxiIn'] = df['TaxiIn'].astype(int)
random_sample['CRSElapsedTime'] = df['CRSElapsedTime'].astype(int)

In [ ]:
random_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 4396017 to 2399316
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               30000 non-null  int64
 1   Month              30000 non-null  int64
 2   DayofMonth         30000 non-null  int64
 3   DayOfWeek          30000 non-null  int64
 4   DepTime            30000 non-null  float64
 5   CRSDepTime         30000 non-null  int64
 6   ArrTime            30000 non-null  float64
 7   CRSArrTime         30000 non-null  int64
 8   UniqueCarrier      30000 non-null  object
 9   FlightNum          30000 non-null  int64
 10  TailNum            30000 non-null  object
 11  ActualElapsedTime  30000 non-null  float64
 12  CRSElapsedTime     30000 non-null  int64
 13  AirTime            30000 non-null  float64
 14  ArrDelay           30000 non-null  float64
 15  DepDelay           30000 non-null  float64
 16  Origin             30000 non-null  object
 17  Dest               30000 non-null  object
 18  Distance           30000 non-null  int64
 19  TaxiIn             30000 non-null  int64
 20  TaxiOut            30000 non-null  int64
 21  Cancelled          30000 non-null  int64
 22  Diverted           30000 non-null  int64
 23  CarrierDelay       30000 non-null  int64
 24  WeatherDelay       30000 non-null  int64
 25  NASDelay           30000 non-null  int64
 26  SecurityDelay      30000 non-null  int64
 27  LateAircraftDelay  30000 non-null  int64
 28  Delayed            30000 non-null  object
dtypes: float64(6), int64(18), object(5)
memory usage: 6.9+ MB

In [ ]:
# Assuming 'random_sample' is your DataFrame
random_sample = random_sample.drop(random_sample.columns[0], axis=1)

In [ ]:
# Assuming 'random_sample' is your DataFrame
del random_sample[random_sample.columns[0]]

In [ ]:
random_sample.to_csv('Yogesh_sample.csv')