<a href="https://colab.research.google.com/github/Yogesh6662/Prediction-and-Analysis-of-Airline-Data-AWS-Hadoop-Hive-./blob/main/Prediction_using_random_forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing all the required libraries.

In [ ]:
import pandas as pd
import glob
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

Merging CSV files of all the group members.

Checking the imported CSV file and performing required data cleaning

In [ ]:
df.shape

(180000, 30)

In [ ]:
df.head()

,year,month,dayofmonth,dayofweek,deptime,crsdeptime,arrtime,crsarrtime,uniquecarrier,flightnum,...,taxiout,cancelled,cancellationcode,diverted,carrierdelay,weatherdelay,nasdelay,securitydelay,lateaircraftdelay,delayed
0,1990,1,11,4,1122.0,1125,1526.0,1532,CO,572,...,NaN,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,N
1,1990,1,28,7,2305.0,2252,2341.0,2337,US,1026,...,NaN,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,Y
2,1990,3,13,2,1615.0,1615,1822.0,1819,NW,771,...,NaN,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,Y
3,1990,1,3,3,1935.0,1930,2128.0,2132,DL,683,...,NaN,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,Y
4,1990,2,13,2,2030.0,2030,2118.0,2125,DL,233,...,NaN,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,N

In [ ]:
df = df.fillna(df.mean())

C:\Users\Legion\AppData\Local\Temp\ipykernel_16924\513357919.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.mean())

In [ ]:
df.head()

,year,month,dayofmonth,dayofweek,deptime,crsdeptime,arrtime,crsarrtime,uniquecarrier,flightnum,...,taxiout,cancelled,cancellationcode,diverted,carrierdelay,weatherdelay,nasdelay,securitydelay,lateaircraftdelay,delayed
0,1990,1,11,4,1122.0,1125,1526.0,1532,CO,572,...,11.392217,0.0,0.00049,0,0.000229,0.0,0.0,0.0,0.0,N
1,1990,1,28,7,2305.0,2252,2341.0,2337,US,1026,...,11.392217,0.0,0.00049,0,0.000229,0.0,0.0,0.0,0.0,Y
2,1990,3,13,2,1615.0,1615,1822.0,1819,NW,771,...,11.392217,0.0,0.00049,0,0.000229,0.0,0.0,0.0,0.0,Y
3,1990,1,3,3,1935.0,1930,2128.0,2132,DL,683,...,11.392217,0.0,0.00049,0,0.000229,0.0,0.0,0.0,0.0,Y
4,1990,2,13,2,2030.0,2030,2118.0,2125,DL,233,...,11.392217,0.0,0.00049,0,0.000229,0.0,0.0,0.0,0.0,N

In [ ]:
df['delayed'] = df['delayed'].replace({'Y': 1, 'N': 0})

In [ ]:
df[["deptime","crsdeptime","arrtime","crsarrtime","arrdelay","depdelay"]].isnull().sum()

deptime       0
crsdeptime    0
arrtime       0
crsarrtime    0
arrdelay      0
depdelay      0
dtype: int64

Applying Logistic Regression machine learning model.

In [ ]:

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Assuming 'delayed' column contains 'Y' and 'N'
#df['delayed'] = df['delayed'].replace({'Y': 1, 'N': 0})

# Ensure 'delayed' column is numeric
df['delayed'] = pd.to_numeric(df['delayed'], errors='coerce')

# Drop rows with NaN in 'delayed' column, if any
df = df.dropna(subset=['delayed'])

# Convert 'delayed' column to integers
df['delayed'] = df['delayed'].astype(int)

selected_features = ["deptime", "crsdeptime", "arrtime", "crsarrtime", "arrdelay", "depdelay","actualelapsedtime","crselapsedtime"]
X = df[selected_features]
y = df["delayed"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

best_model = LogisticRegression(random_state=42)
best_model.fit(X_train, y_train)

y_pred = best_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.80

C:\Users\Legion\AppData\Roaming\Python\Python39\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

As I only got 80% accuracy with above model therefore I decided to try another machine learning model.

Trying Random Forest machine learning model.

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Assuming 'delayed' column contains 'Y' and 'N'
df['delayed'] = df['delayed'].replace({'Y': 1, 'N': 0})

# Ensure 'delayed' column is numeric
df['delayed'] = pd.to_numeric(df['delayed'], errors='coerce')

# Drop rows with NaN in 'delayed' column, if any
df = df.dropna(subset=['delayed'])

# Convert 'delayed' column to integers
df['delayed'] = df['delayed'].astype(int)

selected_features = ["deptime", "crsdeptime", "arrtime", "crsarrtime", "arrdelay", "depdelay"]
X = df[selected_features]
y = df["delayed"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Random Forest Classifier
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train, y_train)

y_pred_rf = rf_model.predict(X_test)
#accuracy_rf = accuracy_score(y_test, y_pred_rf)

# Calculate accuracy
accuracy_rf = accuracy_score(y_test, y_pred_rf)
print(f'Random Forest Accuracy: {accuracy_rf:.2f}')

# Print classification report
print('Classification Report:')
print(classification_report(y_test, y_pred_rf))

# Print confusion matrix
print('Confusion Matrix:')
print(confusion_matrix(y_test, y_pred_rf))

Random Forest Accuracy: 0.91
Classification Report:
              precision    recall  f1-score   support

           0       0.98      0.86      0.91     17306
           1       0.85      0.98      0.91     17982
           2       0.00      0.00      0.00        14
           3       0.00      0.00      0.00        13
           4       0.00      0.00      0.00        18
           5       0.00      0.00      0.00        24
           6       0.00      0.00      0.00        17
           7       0.00      0.00      0.00        16
           8       0.00      0.00      0.00        13
           9       0.00      0.00      0.00        17
          10       0.00      0.00      0.00        22
          11       0.00      0.00      0.00        18
          12       0.00      0.00      0.00        12
          13       0.00      0.00      0.00        11
          14       0.00      0.00      0.00        10
          15       0.00      0.00      0.00        32
          16       0.00      0.00      0.00        13
          17       0.00      0.00      0.00        13
          18       0.00      0.00      0.00        13
          19       0.00      0.00      0.00        12
          20       0.00      0.00      0.00        21
          21       0.00      0.00      0.00        14
          22       0.00      0.00      0.00         4
          23       0.00      0.00      0.00        11
          24       0.00      0.00      0.00         7
          25       0.00      0.00      0.00         4
          26       0.00      0.00      0.00         5
          27       0.00      0.00      0.00         8
          28       0.00      0.00      0.00         6
          29       0.00      0.00      0.00         8
          30       0.00      0.00      0.00         8
          31       0.00      0.00      0.00         6
          32       0.00      0.00      0.00        10
          33       0.00      0.00      0.00         8
          34       0.00      0.00      0.00         4
          35       0.00      0.00      0.00         4
          36       0.00      0.00      0.00         6
          37       0.00      0.00      0.00         1
          38       0.00      0.00      0.00         8
          39       0.00      0.00      0.00         4
          40       0.00      0.00      0.00         7
          41       0.00      0.00      0.00         5
          42       0.00      0.00      0.00         4
          43       0.00      0.00      0.00         1
          44       0.00      0.00      0.00         1
          45       0.00      0.00      0.00         6
          46       0.00      0.00      0.00         3
          47       0.00      0.00      0.00         4
          48       0.00      0.00      0.00         6
          49       0.00      0.00      0.00         4
          50       0.00      0.00      0.00         1
          51       0.00      0.00      0.00         3
          52       0.00      0.00      0.00         4
          53       0.00      0.00      0.00         3
          54       0.00      0.00      0.00         3
          55       0.00      0.00      0.00         1
          56       0.00      0.00      0.00         3
          58       0.00      0.00      0.00         3
          59       0.00      0.00      0.00         1
          61       0.00      0.00      0.00         3
          62       0.00      0.00      0.00         1
          63       0.00      0.00      0.00         4
          64       0.00      0.00      0.00         1
          65       0.00      0.00      0.00         2
          66       0.00      0.00      0.00         3
          67       0.00      0.00      0.00         3
          68       0.00      0.00      0.00         1
          69       0.00      0.00      0.00         3
          70       0.00      0.00      0.00         3
          71       0.00      0.00      0.00         1
          72       0.00      0.00      0.00         2
          73       0.00      0.00      0.00         1
          74       0.00      0.00      0.00         2
          76       0.00      0.00      0.00         1
          77       0.00      0.00      0.00         3
          80       0.00      0.00      0.00         1
          84       0.00      0.00      0.00         2
          88       0.00      0.00      0.00         2
          90       0.00      0.00      0.00         1
          91       0.00      0.00      0.00         2
          92       0.00      0.00      0.00         2
          93       0.00      0.00      0.00         1
          94       0.00      0.00      0.00         3
          95       0.00      0.00      0.00         1
          96       0.00      0.00      0.00         2
          97       0.00      0.00      0.00         2
          99       0.00      0.00      0.00         1
         100       0.00      0.00      0.00         1
         106       0.00      0.00      0.00         1
         110       0.00      0.00      0.00         1
         111       0.00      0.00      0.00         1
         112       0.00      0.00      0.00         1
         114       0.00      0.00      0.00         1
         115       0.00      0.00      0.00         1
         118       0.00      0.00      0.00         1
         120       0.00      0.00      0.00         1
         122       0.00      0.00      0.00         2
         123       0.00      0.00      0.00         1
         125       0.00      0.00      0.00         1
         126       0.00      0.00      0.00         1
         127       0.00      0.00      0.00         1
         130       0.00      0.00      0.00         1
         134       0.00      0.00      0.00         1
         135       0.00      0.00      0.00         1
         141       0.00      0.00      0.00         1
         143       0.00      0.00      0.00         0
         151       0.00      0.00      0.00         1
         152       0.00      0.00      0.00         1
         155       0.00      0.00      0.00         1
         163       0.00      0.00      0.00         1
         179       0.00      0.00      0.00         1
         181       0.00      0.00      0.00         1
         184       0.00      0.00      0.00         1
         192       0.00      0.00      0.00         1
         193       0.00      0.00      0.00         2
         196       0.00      0.00      0.00         1
         205       0.00      0.00      0.00         1
         225       0.00      0.00      0.00         1
         231       0.00      0.00      0.00         1
         300       0.00      0.00      0.00         1
         306       0.00      0.00      0.00         1
         339       0.00      0.00      0.00         1
         374       0.00      0.00      0.00         1
         458       0.00      0.00      0.00         1
         611       0.00      0.00      0.00         1

    accuracy                           0.91     35879
   macro avg       0.01      0.01      0.01     35879
weighted avg       0.90      0.91      0.90     35879

Confusion Matrix:
[[14806  2500     0 ...     0     0     0]
 [  305 17672     0 ...     0     0     0]
 [    0    14     0 ...     0     0     0]
 ...
 [    0     1     0 ...     0     0     0]
 [    0     1     0 ...     0     0     0]
 [    0     1     0 ...     0     0     0]]

C:\Users\Legion\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Legion\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Legion\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Legion\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Legion\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Legion\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Predicting "delayed" for the data assigned.

In [ ]:
new_df = pd.read_csv(r"C:\Users\Legion\Downloads\final_test.csv")

In [ ]:
new_df.head()

,year,month,dayofmonth,dayofweek,deptime,crsdeptime,arrtime,crsarrtime,uniquecarrier,flightnum,...,taxiout,cancelled,cancellationcode,diverted,carrierdelay,weatherdelay,nasdelay,securitydelay,lateaircraftdelay,delayed
0,NaN,NaN,7,1,710,710,NaN,800,AS,60,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,13,1,1511,1510,NaN,1742,US,574,...,15.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,13,1,2315,2315,NaN,532,US,611,...,12.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,14,1,735,710,NaN,800,AS,60,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,20,1,1338,1345,NaN,1626,US,2,...,11.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
new_df = new_df.fillna(new_df.mean())

C:\Users\Legion\AppData\Local\Temp\ipykernel_16924\1319110713.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_df = new_df.fillna(new_df.mean())

In [ ]:
new_df["depdelay"]=new_df["deptime"]-new_df["crsdeptime"]

In [ ]:
new_df['arrdelay'].fillna(0, inplace=True)
new_df['arrtime'].fillna(0, inplace=True)

In [ ]:
new_df["airtime"]

0    184.333333
1    126.000000
2    254.000000
3    184.333333
4    131.000000
5    237.000000
6    184.333333
7    139.000000
8    219.000000
9    184.333333
Name: airtime, dtype: float64

In [ ]:
new_df.head(10)

,year,month,dayofmonth,dayofweek,deptime,crsdeptime,arrtime,crsarrtime,uniquecarrier,flightnum,...,taxiout,cancelled,cancellationcode,diverted,carrierdelay,weatherdelay,nasdelay,securitydelay,lateaircraftdelay,delayed
0,NaN,NaN,7,1,710,710,0.0,800,AS,60,...,10.833333,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,13,1,1511,1510,0.0,1742,US,574,...,15.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,13,1,2315,2315,0.0,532,US,611,...,12.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,14,1,735,710,0.0,800,AS,60,...,10.833333,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,20,1,1338,1345,0.0,1626,US,2,...,11.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,20,1,2339,2315,0.0,532,US,611,...,7.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,21,1,710,710,0.0,800,AS,60,...,10.833333,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,27,1,1340,1345,0.0,1626,US,2,...,11.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,27,1,2322,2315,0.0,532,US,611,...,9.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,28,1,710,710,0.0,800,AS,60,...,10.833333,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
new_X = new_df[selected_features]

# Making predictions on the new data
new_predictions = rf_model.predict(new_X)

# Replacing 1 with 'Y' and 0 with 'N' in the predicted 'delayed' column
new_df['delayed'] = ['Y' if pred == 1 else 'N' for pred in new_predictions]

# Printing the updated DataFrame with the predicted 'delayed' column
print(new_df)

   year  month  dayofmonth  dayofweek  deptime  crsdeptime  arrtime  \
0   NaN    NaN           7          1      710         710      0.0
1   NaN    NaN          13          1     1511        1510      0.0
2   NaN    NaN          13          1     2315        2315      0.0
3   NaN    NaN          14          1      735         710      0.0
4   NaN    NaN          20          1     1338        1345      0.0
5   NaN    NaN          20          1     2339        2315      0.0
6   NaN    NaN          21          1      710         710      0.0
7   NaN    NaN          27          1     1340        1345      0.0
8   NaN    NaN          27          1     2322        2315      0.0
9   NaN    NaN          28          1      710         710      0.0

   crsarrtime uniquecarrier  flightnum  ...    taxiout  cancelled  \
0         800            AS         60  ...  10.833333          0
1        1742            US        574  ...  15.000000          0
2         532            US        611  ...  12.000000          0
3         800            AS         60  ...  10.833333          0
4        1626            US          2  ...  11.000000          0
5         532            US        611  ...   7.000000          0
6         800            AS         60  ...  10.833333          0
7        1626            US          2  ...  11.000000          0
8         532            US        611  ...   9.000000          0
9         800            AS         60  ...  10.833333          0

   cancellationcode  diverted  carrierdelay  weatherdelay nasdelay  \
0               NaN       NaN           NaN           NaN      NaN
1               NaN       NaN           NaN           NaN      NaN
2               NaN       NaN           NaN           NaN      NaN
3               NaN       NaN           NaN           NaN      NaN
4               NaN       NaN           NaN           NaN      NaN
5               NaN       NaN           NaN           NaN      NaN
6               NaN       NaN           NaN           NaN      NaN
7               NaN       NaN           NaN           NaN      NaN
8               NaN       NaN           NaN           NaN      NaN
9               NaN       NaN           NaN           NaN      NaN

  securitydelay  lateaircraftdelay  delayed
0           NaN                NaN        N
1           NaN                NaN        Y
2           NaN                NaN        N
3           NaN                NaN        Y
4           NaN                NaN        N
5           NaN                NaN        Y
6           NaN                NaN        N
7           NaN                NaN        N
8           NaN                NaN        Y
9           NaN                NaN        N

[10 rows x 30 columns]

In [ ]:
new_df.to_csv(r"C:\Users\Legion\Downloads\final_prediction_new.csv", index=False)  # Set index=False if you don't want to save the DataFrame index